{# Ported from blog/templates/nav.html. Login/Admin menu removed (static site). #}
<nav class="navbar navbar-expand navbar-dark bg-primary">
 <div class="navbar-inner">
  <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %}<span class="navbar-sep">|</span><span class="navbar-tagline">{{ SITESUBTITLE }}</span>{% endif %}</a>
  <div class="navbar-nav-scroll ml-auto" id="navbarColor01">
    <ul class="navbar-nav">
      {% for p in pages %}
      <li class="nav-item">
        <a class="nav-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
      </li>
      {% endfor %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
        <div class="dropdown-menu dropdown-menu-left">
          {% for cat, cat_articles in categories %}
          <a class="dropdown-item" href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" data-toggle="collapse" data-target="#searchbar" aria-controls="searchbar" aria-expanded="false">Search</a>
      </li>
    </ul>
    <form class="collapse my-2 my-lg-0" id="searchbar" role="search" action="{{ SITEURL }}/{{ SEARCH_URL }}" method="get">
      <input class="form-control mr-sm-2 my-lg-0" type="search" id="search-input" name="q" autocomplete="off" placeholder="Search by keyword">
    </form>
  </div>
 </div>
</nav>
