{% extends 'base.html' %}

{% block title %}{{ article.title }} | {% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div>
        <h2 class="text-primary">{{ article.title }}</h2>
        <div class="text-muted">
          <strong>{{ article.author or AUTHOR }}</strong>
          &nbsp;on&nbsp;
          {{ article.date.strftime('%Y-%m-%d') }}
          &nbsp;&nbsp;·&nbsp;&nbsp;
          <a class="text-muted" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category.name }}</a>
        </div>
      </div>
    </header>
    <div class="body">
      {{ article.content }}
    </div>
  </article>
{% endblock %}
